@model IEnumerable<MvcProduct.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Reviews" asp-route-id="@item.Id"><input type=button value="Reviews"></a> |
                <a asp-action="Resell" asp-route-id="@item.Id"><input type=button value="Change Price"></a> |
                <a asp-action="PriceHistory" asp-route-id="@item.Id"><input type=button value="Price History"></a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create"><input class="btn btn-primary mb1 bg-blue" type=button value="Add New Product"></a> -
    <a asp-action="Stock"><input class="btn btn-primary mb1 bg-blue" type=button value="View Stock Levels"></a>
</p>
