@model IEnumerable<MvcProduct.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Viewing Stock for all products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Reviews" asp-route-id="@item.Name"><input type=button value="Stock up"></a>
            </td>
        </tr>
}
    </tbody>
</table>