@model IEnumerable<ThreeAmigosCustomer.Services.CustomerDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Registered Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><input type=button value="Edit"></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><input type=button value="Details"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><input type=button value="Remove"></a>
            </td>
        </tr>
}
    </tbody>
</table>